.branding {
  background: #000;
  padding: 100px 20px;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 60px;
  line-height: 1.4;
}

.highlight {
  color: #4ca685;
}

.cardContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 60px;
}

.desktopCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.mobileCards {
  display: none;
}

.card {
  background-image: url("/background/figure.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 40px 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.card h3 {
  font-size: 2.6rem;
  color: #fff;
  margin-top: 4rem;
}

.divider {
  width: 40px;
  height: 3px;
  background: #fff;
  margin-top: 16rem;
  margin-bottom: 20px;
}

.card p {
  color: #fff;
  font-weight: 700;
  line-height: 1.8;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .desktopCards {
    display: none;
  }

  .mobileCards {
    display: block;
  }

  .title {
    font-size: 2rem;
  }

  .card h3 {
    font-size: 2rem;
  }

  .card p {
    font-size: 1.3rem;
  }
}

/* ... 나머지 스타일 동일 */

.swiper {
  padding-bottom: 60px;
}

/* :global(.swiper-pagination-bullet) {
  background: #62fde3 !important;
  opacity: 0.5;
}

:global(.swiper-pagination-bullet-active) {
  opacity: 1;
}

:global(.swiper-pagination) {
  bottom: 0 !important;
} */
