.marketing {
  background: #000;
  color: #fff;
  padding: 100px 20px;
}

.header {
  text-align: center;
  margin-bottom: 80px;

  background-color: #181818;
  padding: 4rem 2rem;
}

.header h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.header h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.header p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.8;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #000;
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  position: relative;
}

.cardHeader {
  margin-bottom: 2rem;
}

.cardHeader h4 {
  color: #4ae8c0;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cardHeader p {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
  min-height: 3.2rem; /* 2줄 높이 고정 */
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.highlight {
  color: #4ae8c0;
  font-size: 1.1rem;
  text-align: center;
  margin-top: auto;
  padding-top: 2rem;
  min-height: 4rem; /* 하이라이트 텍스트 영역 높이 고정 */
}

.footer {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
  padding-top: 4rem;
}

.footer p:first-child {
  margin-bottom: 1rem;
}

.desktopContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 1rem;
}

.mobileContent {
  display: none;
}

/* 모바일 스타일 */
@media (max-width: 768px) {
  .desktopContent {
    display: none;
  }

  .mobileContent {
    display: block;
    padding: 1rem;
  }

  .swiper {
    padding: 1rem 0 3rem;
  }

  .header h3 {
    font-size: 2rem;
  }

  .card {
    margin-bottom: 40px;
  }
}

/* Swiper 커스텀 스타일 */
:global(.swiper-pagination-bullet) {
  background: #000;
  opacity: 0.2;
}

:global(.swiper-pagination-bullet-active) {
  opacity: 1;
}
