.branding {
  width: 100%;
  padding: 6rem 0rem;
  background-color: #1a1a1a;
  color: white;
  overflow: hidden;
}

.titleContainer {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.titleContainer h3 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.titleContainer h2 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.cardContainer {
  max-width: var(--max-width);
  margin: 0 auto;
}

.desktopCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  padding: 2rem;
  height: 500px;
  background-image: url("/background/figure2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50px;
}

.card h3 {
  color: #62fde3;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.card p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.6;
}

.mobileCards {
  display: none;
}

.footer {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.6;
  margin-top: 4rem;
  margin-bottom: 12rem;
}

.imageScroll {
  width: 100%;
  overflow: hidden;
  margin: 6rem 0;
}

.scrollTrack {
  display: flex;
  animation: scrollLeft 36s linear infinite;
  width: fit-content;
  gap: 20px;
}

.imageWrapper {
  flex-shrink: 0;
}

.scrollImage {
  height: 400px !important;
  width: auto !important;
  object-fit: contain;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .branding {
    padding-bottom: 3rem;
  }

  .footer {
    font-size: 1.2rem;
    margin-bottom: 6rem;
  }
  .titleContainer h2 {
    font-size: 1.8rem;
  }
  .titleContainer h3 {
    font-size: 1.6rem;
  }
  .desktopCards {
    display: none;
  }

  .mobileCards {
    display: block;
  }

  .swiper {
    padding: 1rem;
  }

  /* 모바일에서 이미지 크기 조정 */
  .scrollImage {
    height: 200px !important;
  }
  .imageScroll {
    margin-bottom: 0;
  }
}

.scrollTrack:hover {
  animation-play-state: paused;
}
