.intro {
  position: relative;
  background: #000;
  color: #fff;
  padding: 100px 20px;
  overflow: hidden;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.questionBox {
  margin-bottom: 20rem;
}

.question {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.answer {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.answerBox {
  margin-left: 22rem;
}
.details p {
  color: #fff;

  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.highlightBox {
  margin: 60px 0;
}

.highlightBox h3 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #fff;
}

.highlightBox p {
  color: #fff;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.pointsBox {
  margin: 60px 0;
}

.point {
  border: 1px solid #62fde3;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  color: #fff;
  background: rgba(76, 166, 133, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #62fde3;
  text-align: center;
  font-size: 1.3rem;
  word-break: keep-all;
}

.signature {
  text-align: right;
  margin-top: 60px;
}

.name {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .question {
    font-size: 1.8rem;
  }

  .highlightBox h3 {
    font-size: 1.6rem;
  }

  .point {
    font-size: 0.9rem;
  }
  .answerBox {
    margin-left: 0;
  }
  .question {
    text-align: center;
  }
  .highlightBox h3 {
    text-align: center;
    margin-bottom: 4rem;
  }
  .questionBox {
    margin-bottom: 10rem;
  }
}
