.salesGrowth {
  width: 100%;
  padding: 6rem 2rem;
  background-color: #000;
  color: white;
  position: relative;
  overflow-x: hidden;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.header h2 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.header h3 {
  font-size: 3rem;
  font-weight: 700;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
}

.content {
  flex: 1;
}

.highlight {
  margin-bottom: 2rem;
}

.highlight h4 {
  color: #62fde3;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.highlight p {
  color: #fff;
  font-size: 1.6rem;
}

.graph {
  flex: 1;
  position: relative;
  margin-top: 4rem;
}

.graphImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.details {
  max-width: var(--max-width);
  margin: 0 auto;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}

.details p {
  margin-bottom: 0.5rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.stat span {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.stat strong {
  font-size: 1.5rem;
  color: #4fffb0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .header h3 {
    font-size: 1.6rem;
  }
  .header h2 {
    font-size: 1.4rem;
  }
  .highlight {
    text-align: center;
    word-break: keep-all;
  }

  .highlight h4 {
    font-size: 14px;
  }

  .highlight p {
    font-size: 14px;
  }

  .details {
    font-size: 12px;
  }
}
